MYSQL_HOST=127.0.0.1
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_PORT=3306

# Your Plaid keys, which can be found in the Plaid Dashboard.
# https://dashboard.plaid.com/account/keys

PLAID_CLIENT_ID=
PLAID_SECRET_DEVELOPMENT=
PLAID_SECRET_SANDBOX=

PLAID_ENV=development

NEXT_PUBLIC_USER_ID=
NEXT_PUBLIC_USER_NAME=